black
flake8
ipython
isort
jupyterlab
loguru
matplotlib
mkdocs
notebook
numpy
pandas
pip
python-dotenv
tqdm
typer
-e .
langchain
ipykernel
langchain-community
pypdf
langchain-text-splitters
tqdm
ipywidgets
langchain-groq
streamlit 
langchain-huggingface
faiss-gpu
streamlit-extras
PyPDF2